.Counter {
  display: inline-block;
  padding: 1.2em 3.6em;
  border: 3px solid #ccc;
  border-radius: 12px;
  margin: 1.2em;
}

.Counter button {
  width: 2.1em;
}

.Counter .count {
  display: inline-block;
  width: 3.6em;
}
